.app {
    padding-top: 1rem;
    height: 96vh;
}
.main {
    font-size: 3rem;
    background-color: rgba(62, 177, 223, 0.561);
    width: 75%;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    margin: auto;
}
.btns {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    font-size: 3rem;
    padding: 0rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(62, 177, 223, 0.561);
}
.img {
    width: 42.5%;
}